In [1]:
# Import necessary libraries
import pandas as pd
from datetime import datetime
import numpy as np

# Import the excel file into a DataFrame
df = pd.read_excel('Passing_Stats.xlsx')

df.head()

,Rk,Player,Age,Team,Pos,G,GS,QBrec,Cmp,Att,...,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Awards,Year,QBR
0,1.0,Kurt Warner,30.0,STL,QB,16.0,16.0,14-2-0,375.0,546.0,...,38.0,233.0,6.51,7.87,7.41,1.0,2.0,"PB,AP-1,AP MVP-1,AP OPoY-2",2001,NaN
1,2.0,Peyton Manning,25.0,IND,QB,16.0,16.0,2000-06-10 00:00:00,343.0,547.0,...,29.0,232.0,5.03,6.77,5.88,0.0,0.0,NaN,2001,NaN
2,3.0,Brett Favre,32.0,GNB,QB,16.0,16.0,2000-12-04 00:00:00,314.0,510.0,...,22.0,151.0,4.14,7.09,7.02,1.0,2.0,"PB,AP-2,AP MVP-3,AP OPoY-3",2001,NaN
3,4.0,Aaron Brooks,25.0,NOR,QB,16.0,16.0,2000-07-09 00:00:00,312.0,558.0,...,50.0,330.0,8.22,5.76,4.99,2.0,3.0,NaN,2001,NaN
4,5.0,Rich Gannon,36.0,OAK,QB,16.0,16.0,2000-10-06 00:00:00,361.0,549.0,...,27.0,155.0,4.69,6.38,6.61,1.0,2.0,PB,2001,NaN

In [2]:
# Inspect the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      2332 non-null   float64
 1   Player  2354 non-null   object
 2   Age     2332 non-null   float64
 3   Team    2332 non-null   object
 4   Pos     2332 non-null   object
 5   G       2332 non-null   float64
 6   GS      2332 non-null   float64
 7   QBrec   1750 non-null   object
 8   Cmp     2332 non-null   float64
 9   Att     2332 non-null   float64
 10  Cmp%    2285 non-null   float64
 11  Yds     2332 non-null   float64
 12  TD      2332 non-null   float64
 13  TD%     2285 non-null   float64
 14  Int     2332 non-null   float64
 15  Int%    2285 non-null   float64
 16  1D      2184 non-null   float64
 17  Succ%   2259 non-null   float64
 18  Lng     2332 non-null   float64
 19  Y/A     2285 non-null   float64
 20  AY/A    2285 non-null   float64
 21  Y/C     1961 non-null   float64
 22  Y/G     2354 non-null   float64
 23  Rate    2285 non-null   float64
 24  Sk      2332 non-null   float64
 25  Yds.1   2332 non-null   float64
 26  Sk%     2354 non-null   float64
 27  NY/A    2354 non-null   float64
 28  ANY/A   2354 non-null   float64
 29  4QC     2332 non-null   float64
 30  GWD     2332 non-null   float64
 31  Awards  347 non-null    object
 32  Year    2354 non-null   int64
 33  QBR     1627 non-null   float64
dtypes: float64(28), int64(1), object(5)
memory usage: 625.4+ KB

In [3]:
# Drop all rows where the value in the 'Att' column is less than 100
df = df[df['Att'] >= 100]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 963 entries, 0 to 2289
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      963 non-null    float64
 1   Player  963 non-null    object
 2   Age     963 non-null    float64
 3   Team    963 non-null    object
 4   Pos     963 non-null    object
 5   G       963 non-null    float64
 6   GS      963 non-null    float64
 7   QBrec   963 non-null    object
 8   Cmp     963 non-null    float64
 9   Att     963 non-null    float64
 10  Cmp%    963 non-null    float64
 11  Yds     963 non-null    float64
 12  TD      963 non-null    float64
 13  TD%     963 non-null    float64
 14  Int     963 non-null    float64
 15  Int%    963 non-null    float64
 16  1D      963 non-null    float64
 17  Succ%   963 non-null    float64
 18  Lng     963 non-null    float64
 19  Y/A     963 non-null    float64
 20  AY/A    963 non-null    float64
 21  Y/C     963 non-null    float64
 22  Y/G     963 non-null    float64
 23  Rate    963 non-null    float64
 24  Sk      963 non-null    float64
 25  Yds.1   963 non-null    float64
 26  Sk%     963 non-null    float64
 27  NY/A    963 non-null    float64
 28  ANY/A   963 non-null    float64
 29  4QC     963 non-null    float64
 30  GWD     963 non-null    float64
 31  Awards  233 non-null    object
 32  Year    963 non-null    int64
 33  QBR     732 non-null    float64
dtypes: float64(28), int64(1), object(5)
memory usage: 263.3+ KB

In [4]:
# Drop the 'Rk' column
df = df.drop(['Rk'], axis=1)

df.head()

,Player,Age,Team,Pos,G,GS,QBrec,Cmp,Att,Cmp%,...,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Awards,Year,QBR
0,Kurt Warner,30.0,STL,QB,16.0,16.0,14-2-0,375.0,546.0,68.7,...,38.0,233.0,6.51,7.87,7.41,1.0,2.0,"PB,AP-1,AP MVP-1,AP OPoY-2",2001,NaN
1,Peyton Manning,25.0,IND,QB,16.0,16.0,2000-06-10 00:00:00,343.0,547.0,62.7,...,29.0,232.0,5.03,6.77,5.88,0.0,0.0,NaN,2001,NaN
2,Brett Favre,32.0,GNB,QB,16.0,16.0,2000-12-04 00:00:00,314.0,510.0,61.6,...,22.0,151.0,4.14,7.09,7.02,1.0,2.0,"PB,AP-2,AP MVP-3,AP OPoY-3",2001,NaN
3,Aaron Brooks,25.0,NOR,QB,16.0,16.0,2000-07-09 00:00:00,312.0,558.0,55.9,...,50.0,330.0,8.22,5.76,4.99,2.0,3.0,NaN,2001,NaN
4,Rich Gannon,36.0,OAK,QB,16.0,16.0,2000-10-06 00:00:00,361.0,549.0,65.8,...,27.0,155.0,4.69,6.38,6.61,1.0,2.0,PB,2001,NaN

In [5]:
# Inspect the 'Player' column
df['Player'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Player
Non-Null Count  Dtype
--------------  -----
963 non-null    object
dtypes: object(1)
memory usage: 15.0+ KB

In [6]:
# Inspect the 'Age' column
df['Age'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Age
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [7]:
df['Age'].describe()

count    963.000000
mean      28.613707
std        4.591674
min       21.000000
25%       25.000000
50%       28.000000
75%       32.000000
max       45.000000
Name: Age, dtype: float64

In [8]:
# Convert the 'Age' column from float to int
df['Age'] = df['Age'].astype(np.int64)

df['Age'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Age
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [9]:
# Inspect the 'Team' column
df['Team'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Team
Non-Null Count  Dtype
--------------  -----
963 non-null    object
dtypes: object(1)
memory usage: 15.0+ KB

In [10]:
# Inspect the 'Pos' column
df['Pos'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Pos
Non-Null Count  Dtype
--------------  -----
963 non-null    object
dtypes: object(1)
memory usage: 15.0+ KB

In [11]:
# Inspect the 'G' column
df['G'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: G
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [12]:
df['G'].describe()

count    963.000000
mean      12.069574
std        4.099128
min        3.000000
25%        8.000000
50%       13.000000
75%       16.000000
max       17.000000
Name: G, dtype: float64

In [13]:
# Convert the 'G' column from float to int
df['G'] = df['G'].astype(np.int64)

df['G'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: G
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [14]:
# Inspect the 'GS' column
df['GS'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: GS
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [15]:
df['GS'].describe()

count    963.000000
mean      11.327103
std        4.702806
min        2.000000
25%        7.000000
50%       13.000000
75%       16.000000
max       17.000000
Name: GS, dtype: float64

In [16]:
# Convert the 'GS' column from float to int
df['GS'] = df['GS'].astype(np.int64)

df['GS'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: GS
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [17]:
# Inspect the 'QBrec' column
df['QBrec'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: QBrec
Non-Null Count  Dtype
--------------  -----
963 non-null    object
dtypes: object(1)
memory usage: 15.0+ KB

In [18]:
# Fix the issue where some of the records were converted to dates
def correct_qbrec(val):
    # Check if the value is a timestamp or datetime object
    if isinstance(val, datetime):
        # Extract the month and day from the date
        return f'{val.month}-{val.day}'
    return val # Return the original value if it wasn't a date

In [19]:
# Apply the correct_qbrec function to fix the values
df['QBrec'] = df['QBrec'].apply(correct_qbrec)

df.head()

,Player,Age,Team,Pos,G,GS,QBrec,Cmp,Att,Cmp%,...,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Awards,Year,QBR
0,Kurt Warner,30,STL,QB,16,16,14-2-0,375.0,546.0,68.7,...,38.0,233.0,6.51,7.87,7.41,1.0,2.0,"PB,AP-1,AP MVP-1,AP OPoY-2",2001,NaN
1,Peyton Manning,25,IND,QB,16,16,6-10,343.0,547.0,62.7,...,29.0,232.0,5.03,6.77,5.88,0.0,0.0,NaN,2001,NaN
2,Brett Favre,32,GNB,QB,16,16,12-4,314.0,510.0,61.6,...,22.0,151.0,4.14,7.09,7.02,1.0,2.0,"PB,AP-2,AP MVP-3,AP OPoY-3",2001,NaN
3,Aaron Brooks,25,NOR,QB,16,16,7-9,312.0,558.0,55.9,...,50.0,330.0,8.22,5.76,4.99,2.0,3.0,NaN,2001,NaN
4,Rich Gannon,36,OAK,QB,16,16,10-6,361.0,549.0,65.8,...,27.0,155.0,4.69,6.38,6.61,1.0,2.0,PB,2001,NaN

In [20]:
# Function to split the 'QBrec' column into Wins, Losses, and Ties
def split_QBrec(record):
    parts = record.split('-')
    # Handle cases where there are no ties (only 2 parts)
    wins = int(parts[0])
    losses = int(parts[1])
    ties = int(parts[2]) if len(parts) == 3 else 0
    return pd.Series([wins, losses, ties])

In [21]:
# Apply the split_QBrec function to create new columns
df[['Wins', 'Losses', 'Ties']] = df['QBrec'].apply(split_QBrec)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 963 entries, 0 to 2289
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  963 non-null    object
 1   Age     963 non-null    int64
 2   Team    963 non-null    object
 3   Pos     963 non-null    object
 4   G       963 non-null    int64
 5   GS      963 non-null    int64
 6   QBrec   963 non-null    object
 7   Cmp     963 non-null    float64
 8   Att     963 non-null    float64
 9   Cmp%    963 non-null    float64
 10  Yds     963 non-null    float64
 11  TD      963 non-null    float64
 12  TD%     963 non-null    float64
 13  Int     963 non-null    float64
 14  Int%    963 non-null    float64
 15  1D      963 non-null    float64
 16  Succ%   963 non-null    float64
 17  Lng     963 non-null    float64
 18  Y/A     963 non-null    float64
 19  AY/A    963 non-null    float64
 20  Y/C     963 non-null    float64
 21  Y/G     963 non-null    float64
 22  Rate    963 non-null    float64
 23  Sk      963 non-null    float64
 24  Yds.1   963 non-null    float64
 25  Sk%     963 non-null    float64
 26  NY/A    963 non-null    float64
 27  ANY/A   963 non-null    float64
 28  4QC     963 non-null    float64
 29  GWD     963 non-null    float64
 30  Awards  233 non-null    object
 31  Year    963 non-null    int64
 32  QBR     732 non-null    float64
 33  Wins    963 non-null    int64
 34  Losses  963 non-null    int64
 35  Ties    963 non-null    int64
dtypes: float64(24), int64(7), object(5)
memory usage: 278.4+ KB

In [22]:
# Inspect the new columns
df['Wins'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Wins
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [23]:
df['Wins'].describe()

count    963.000000
mean       5.719626
std        3.874634
min        0.000000
25%        2.000000
50%        5.000000
75%        9.000000
max       16.000000
Name: Wins, dtype: float64

In [24]:
df['Losses'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Losses
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [25]:
df['Losses'].describe()

count    963.000000
mean       5.570093
std        2.730063
min        0.000000
25%        3.000000
50%        5.000000
75%        7.000000
max       15.000000
Name: Losses, dtype: float64

In [26]:
df['Ties'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Ties
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [27]:
df['Ties'].describe()

count    963.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: Ties, dtype: float64

In [28]:
# Inspect the 'Cmp' column
df['Cmp'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Cmp
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [29]:
df['Cmp'].describe()

count    963.000000
mean     234.674974
std      109.255072
min       44.000000
25%      132.000000
50%      245.000000
75%      323.000000
max      490.000000
Name: Cmp, dtype: float64

In [30]:
# Convert the 'Cmp' column from float to int
df['Cmp'] = df['Cmp'].astype(np.int64)

df['Cmp'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Cmp
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [31]:
# Inspect the 'Att' column
df['Att'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Att
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [32]:
df['Att'].describe()

count    963.000000
mean     377.761163
std      164.484848
min      100.000000
25%      223.500000
50%      397.000000
75%      520.000000
max      733.000000
Name: Att, dtype: float64

In [33]:
# Convert the 'Att' column from float to int
df['Att'] = df['Att'].astype(np.int64)

df['Att'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Att
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [34]:
# Inspect the 'Cmp%' column
df['Cmp%'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Cmp%
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [35]:
df['Cmp%'].describe()

count    963.000000
mean      61.278089
std        4.979777
min       38.600000
25%       58.150000
50%       61.500000
75%       64.900000
max       74.400000
Name: Cmp%, dtype: float64

In [36]:
# Inspect the 'Yds' column
df['Yds'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Yds
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [37]:
df['Yds'].describe()

count     963.000000
mean     2671.809969
std      1274.405398
min       391.000000
25%      1522.000000
50%      2753.000000
75%      3763.000000
max      5477.000000
Name: Yds, dtype: float64

In [38]:
# Convert the 'Yds' column from float to int
df['Yds'] = df['Yds'].astype(np.int64)

df['Yds'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Yds
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [39]:
# Inspect the 'TD' column
df['TD'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: TD
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [40]:
df['TD'].describe()

count    963.000000
mean      16.330218
std       10.140745
min        0.000000
25%        7.000000
50%       15.000000
75%       24.000000
max       55.000000
Name: TD, dtype: float64

In [41]:
# Convert the 'TD' column from float to int
df['TD'] = df['TD'].astype(np.int64)

df['TD'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: TD
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [42]:
# Inspect the 'TD%' column
df['TD%'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: TD%
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [43]:
df['TD%'].describe()

count    963.000000
mean       4.077882
std        1.445036
min        0.000000
25%        3.100000
50%        4.000000
75%        5.000000
max        9.900000
Name: TD%, dtype: float64

In [44]:
# Inspect the 'Int' column
df['Int'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Int
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [45]:
df['Int'].describe()

count    963.000000
mean       9.949117
std        4.939394
min        0.000000
25%        6.000000
50%       10.000000
75%       13.000000
max       30.000000
Name: Int, dtype: float64

In [46]:
# Convert the 'Int' column from float to int
df['Int'] = df['Int'].astype(np.int64)

df['Int'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Int
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [47]:
# Inspect the 'Int%' column
df['Int%'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Int%
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [48]:
df['Int%'].describe()

count    963.000000
mean       2.798962
std        1.153805
min        0.000000
25%        2.000000
50%        2.700000
75%        3.500000
max        8.800000
Name: Int%, dtype: float64

In [49]:
# Inspect the '1D' column
df['1D'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: 1D
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [50]:
# Convert the '1D' column from float to int
df['1D'] = df['1D'].astype(np.int64)

df['1D'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: 1D
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [51]:
# Inspect the 'Succ%' column
df['Succ%'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Succ%
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [52]:
df['Succ%'].describe()

count    963.000000
mean      44.177778
std        5.144937
min       25.300000
25%       40.800000
50%       44.200000
75%       47.600000
max       57.800000
Name: Succ%, dtype: float64

In [53]:
# Inspect the 'Lng' column
df['Lng'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Lng
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [54]:
df['Lng'].describe()

count    963.000000
mean      65.344756
std       14.503836
min       22.000000
25%       55.000000
50%       66.000000
75%       76.000000
max       99.000000
Name: Lng, dtype: float64

In [55]:
# Convert the 'Lng' column from float to int
df['Lng'] = df['Lng'].astype(np.int64)

df['Lng'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Lng
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [56]:
# Inspect the 'Y/A' column
df['Y/A'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Y/A
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [57]:
df['Y/A'].describe()

count    963.000000
mean       6.942264
std        0.843201
min        3.400000
25%        6.400000
50%        6.900000
75%        7.500000
max        9.600000
Name: Y/A, dtype: float64

In [58]:
# Inspect the 'AY/A' column
df['AY/A'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: AY/A
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [59]:
df['AY/A'].describe()

count    963.000000
mean       6.497736
std        1.318565
min        1.410000
25%        5.610000
50%        6.530000
75%        7.355000
max       10.540000
Name: AY/A, dtype: float64

In [60]:
# Inspect the 'Y/C' column
df['Y/C'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Y/C
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [61]:
df['Y/C'].describe()

count    963.000000
mean      11.334579
std        1.093859
min        7.300000
25%       10.700000
50%       11.300000
75%       12.000000
max       16.100000
Name: Y/C, dtype: float64

In [62]:
# Inspect the 'Y/G' column
df['Y/G'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Y/G
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [63]:
df['Y/G'].describe()

count    963.000000
mean     213.195223
std       51.769699
min       45.100000
25%      181.700000
50%      214.500000
75%      250.750000
max      371.200000
Name: Y/G, dtype: float64

In [64]:
# Inspect the 'Rate' column
df['Rate'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Rate
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [65]:
df['Rate'].describe()

count    963.000000
mean      84.005296
std       13.236458
min       32.500000
25%       75.400000
50%       84.300000
75%       92.900000
max      122.500000
Name: Rate, dtype: float64

In [66]:
# Inspect the 'Sk' column
df['Sk'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Sk
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [67]:
df['Sk'].describe()

count    963.000000
mean      25.428868
std       11.964860
min        2.000000
25%       16.500000
50%       25.000000
75%       33.000000
max       76.000000
Name: Sk, dtype: float64

In [68]:
# Convert the 'Sk' column from float to int
df['Sk'] = df['Sk'].astype(np.int64)

df['Sk'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Sk
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [69]:
# Change the 'Yds.1' column name to 'SkYds' for clarification
df['SkYds'] = df['Yds.1']

df['SkYds'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: SkYds
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [70]:
# Drop the 'Yds.1' column
df = df.drop('Yds.1', axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 963 entries, 0 to 2289
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  963 non-null    object
 1   Age     963 non-null    int64
 2   Team    963 non-null    object
 3   Pos     963 non-null    object
 4   G       963 non-null    int64
 5   GS      963 non-null    int64
 6   QBrec   963 non-null    object
 7   Cmp     963 non-null    int64
 8   Att     963 non-null    int64
 9   Cmp%    963 non-null    float64
 10  Yds     963 non-null    int64
 11  TD      963 non-null    int64
 12  TD%     963 non-null    float64
 13  Int     963 non-null    int64
 14  Int%    963 non-null    float64
 15  1D      963 non-null    int64
 16  Succ%   963 non-null    float64
 17  Lng     963 non-null    int64
 18  Y/A     963 non-null    float64
 19  AY/A    963 non-null    float64
 20  Y/C     963 non-null    float64
 21  Y/G     963 non-null    float64
 22  Rate    963 non-null    float64
 23  Sk      963 non-null    int64
 24  Sk%     963 non-null    float64
 25  NY/A    963 non-null    float64
 26  ANY/A   963 non-null    float64
 27  4QC     963 non-null    float64
 28  GWD     963 non-null    float64
 29  Awards  233 non-null    object
 30  Year    963 non-null    int64
 31  QBR     732 non-null    float64
 32  Wins    963 non-null    int64
 33  Losses  963 non-null    int64
 34  Ties    963 non-null    int64
 35  SkYds   963 non-null    float64
dtypes: float64(16), int64(15), object(5)
memory usage: 278.4+ KB

In [71]:
df['SkYds'].describe()

count    963.000000
mean     166.004154
std       80.481658
min       10.000000
25%      104.000000
50%      160.000000
75%      217.000000
max      477.000000
Name: SkYds, dtype: float64

In [72]:
# Convert the 'SkYds' column from float to int
df['SkYds'] = df['SkYds'].astype(np.int64)

df['SkYds'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: SkYds
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [73]:
# Inspect the 'Sk%' column
df['Sk%'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Sk%
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [74]:
df['Sk%'].describe()

count    963.000000
mean       6.636698
std        2.444884
min        1.600000
25%        4.895000
50%        6.330000
75%        8.030000
max       17.210000
Name: Sk%, dtype: float64

In [75]:
# Inspect the 'NY/A' column
df['NY/A'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: NY/A
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [76]:
df['NY/A'].describe()

count    963.000000
mean       6.051038
std        0.898353
min        3.030000
25%        5.475000
50%        6.050000
75%        6.670000
max        8.810000
Name: NY/A, dtype: float64

In [77]:
# Inspect the 'ANY/A' column
df['ANY/A'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: ANY/A
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [78]:
df['ANY/A'].describe()

count    963.000000
mean       5.640322
std        1.335261
min        1.100000
25%        4.735000
50%        5.670000
75%        6.515000
max        9.780000
Name: ANY/A, dtype: float64

In [79]:
# Inspect the '4QC' column
df['4QC'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: 4QC
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [80]:
df['4QC'].describe()

count    963.000000
mean       1.384216
std        1.307201
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        8.000000
Name: 4QC, dtype: float64

In [81]:
#Convert the '4QC' column from float to int
df['4QC'] = df['4QC'].astype(np.int64)

df['4QC'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: 4QC
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [82]:
# Inspect the 'GWD' column
df['GWD'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: GWD
Non-Null Count  Dtype
--------------  -----
963 non-null    float64
dtypes: float64(1)
memory usage: 15.0 KB

In [83]:
df['GWD'].describe()

count    963.000000
mean       1.801661
std        1.504366
min        0.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        8.000000
Name: GWD, dtype: float64

In [84]:
#Convert the 'GWD' column from float to int
df['GWD'] = df['GWD'].astype(np.int64)

df['GWD'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: GWD
Non-Null Count  Dtype
--------------  -----
963 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [85]:
# Inspect the 'Awards' column
df['Awards'].info()

<class 'pandas.core.series.Series'>
Int64Index: 963 entries, 0 to 2289
Series name: Awards
Non-Null Count  Dtype
--------------  -----
233 non-null    object
dtypes: object(1)
memory usage: 15.0+ KB

In [86]:
# Initialize columns for each award
df['PB'] = 0
df['AP'] = 0
df['MVP'] = 0
df['CPoY'] = 0
df['ORoY'] = 0

In [89]:
# Function to generate values for individual award columns
def parse_awards(awards_str):
    if isinstance(awards_str, str):
        awards = awards_str.split(',')
        pb = 1 if 'PB' in awards else 0
        ap = 0
        mvp = 0
        cpoy = 0
        oroy = 0
    
        for award in awards:
            if 'AP-' in award:
                ap = int(award.split('-')[1])
            elif 'AP MVP-' in award:
                mvp = int(award.split('-')[1])
            elif 'AP CPoY-' in award:
                cpoy = int(award.split('-')[1])
            elif 'AP ORoY-' in award:
                oroy = int(award.split('-')[1])
    
        return pd.Series([pb, ap, mvp, cpoy, oroy])

    else:
        # If awards_str is not a string (e.g., it's NaN), return default values
        return pd.Series([0, 0, 0, 0, 0])

In [90]:
# Apply the parse_awards function to populate columns for individual awards
df[['PB', 'AP', 'MVP', 'CPoY', 'ORoY']] = df['Awards'].apply(parse_awards)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 963 entries, 0 to 2289
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  963 non-null    object
 1   Age     963 non-null    int64
 2   Team    963 non-null    object
 3   Pos     963 non-null    object
 4   G       963 non-null    int64
 5   GS      963 non-null    int64
 6   QBrec   963 non-null    object
 7   Cmp     963 non-null    int64
 8   Att     963 non-null    int64
 9   Cmp%    963 non-null    float64
 10  Yds     963 non-null    int64
 11  TD      963 non-null    int64
 12  TD%     963 non-null    float64
 13  Int     963 non-null    int64
 14  Int%    963 non-null    float64
 15  1D      963 non-null    int64
 16  Succ%   963 non-null    float64
 17  Lng     963 non-null    int64
 18  Y/A     963 non-null    float64
 19  AY/A    963 non-null    float64
 20  Y/C     963 non-null    float64
 21  Y/G     963 non-null    float64
 22  Rate    963 non-null    float64
 23  Sk      963 non-null    int64
 24  Sk%     963 non-null    float64
 25  NY/A    963 non-null    float64
 26  ANY/A   963 non-null    float64
 27  4QC     963 non-null    int64
 28  GWD     963 non-null    int64
 29  Awards  233 non-null    object
 30  Year    963 non-null    int64
 31  QBR     732 non-null    float64
 32  Wins    963 non-null    int64
 33  Losses  963 non-null    int64
 34  Ties    963 non-null    int64
 35  SkYds   963 non-null    int64
 36  PB      963 non-null    int64
 37  AP      963 non-null    int64
 38  MVP     963 non-null    int64
 39  CPoY    963 non-null    int64
 40  ORoY    963 non-null    int64
dtypes: float64(13), int64(23), object(5)
memory usage: 316.0+ KB

In [91]:
# Inspect the 'PB' column
df['PB'].describe()

count    963.000000
mean       0.197300
std        0.398168
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: PB, dtype: float64

In [92]:
# Inspect the 'AP' column
df['AP'].describe()

count    963.000000
mean       0.064382
std        0.319186
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: AP, dtype: float64

In [93]:
# Inspect the 'MVP' column
df['MVP'].describe()

count    963.000000
mean       0.212876
std        1.003818
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        9.000000
Name: MVP, dtype: float64

In [94]:
# Inspect the 'CPoY' column
df['CPoY'].describe()

count    963.000000
mean       0.218069
std        1.116036
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       12.000000
Name: CPoY, dtype: float64

In [95]:
# Inspect the 'ORoY' column
df['ORoY'].describe()

count    963.000000
mean       0.039460
std        0.323219
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        6.000000
Name: ORoY, dtype: float64

In [96]:
# Drop the 'Awards' column
df = df.drop('Awards', axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 963 entries, 0 to 2289
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  963 non-null    object
 1   Age     963 non-null    int64
 2   Team    963 non-null    object
 3   Pos     963 non-null    object
 4   G       963 non-null    int64
 5   GS      963 non-null    int64
 6   QBrec   963 non-null    object
 7   Cmp     963 non-null    int64
 8   Att     963 non-null    int64
 9   Cmp%    963 non-null    float64
 10  Yds     963 non-null    int64
 11  TD      963 non-null    int64
 12  TD%     963 non-null    float64
 13  Int     963 non-null    int64
 14  Int%    963 non-null    float64
 15  1D      963 non-null    int64
 16  Succ%   963 non-null    float64
 17  Lng     963 non-null    int64
 18  Y/A     963 non-null    float64
 19  AY/A    963 non-null    float64
 20  Y/C     963 non-null    float64
 21  Y/G     963 non-null    float64
 22  Rate    963 non-null    float64
 23  Sk      963 non-null    int64
 24  Sk%     963 non-null    float64
 25  NY/A    963 non-null    float64
 26  ANY/A   963 non-null    float64
 27  4QC     963 non-null    int64
 28  GWD     963 non-null    int64
 29  Year    963 non-null    int64
 30  QBR     732 non-null    float64
 31  Wins    963 non-null    int64
 32  Losses  963 non-null    int64
 33  Ties    963 non-null    int64
 34  SkYds   963 non-null    int64
 35  PB      963 non-null    int64
 36  AP      963 non-null    int64
 37  MVP     963 non-null    int64
 38  CPoY    963 non-null    int64
 39  ORoY    963 non-null    int64
dtypes: float64(13), int64(23), object(4)
memory usage: 308.5+ KB

In [97]:
# Inspect the 'Year' column
df['Year'].describe()

count     963.000000
mean     2012.226376
std         6.789120
min      2001.000000
25%      2006.000000
50%      2013.000000
75%      2018.000000
max      2023.000000
Name: Year, dtype: float64

In [98]:
# Inspect the 'QBR' column
df['QBR'].describe()

count    732.000000
mean      51.997951
std       14.677905
min        0.500000
25%       42.375000
50%       52.450000
75%       62.600000
max      100.000000
Name: QBR, dtype: float64